<div class="container">

    <div class="page-header">
        <h1>{{season.title}}</h1>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-10" ng-bind-html="season.description">
        </div>
        <div class="col-xs-4 col-sm-2">
            <ul>
                <li><a ng-href="/schedule/shows/{{season.show_id}}">Show</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Episodes</h2>
            <ol>
                <li ng-repeat="timeslot in timeslots">
                    <a ng-href="/schedule/shows/timeslots/{{timeslot.timeslot_id}}">
                    {{timeslot.time * 1000 | amDateFormat: "HH:mm - MMMM Do YYYY"}}
                    </a>
                </li>
            </ol>
        </div>
        <div class="col-sm-6">
            <h2>Credits</h2>
            <dl>
                <div class="credit" ng-repeat="credit in credits">
                    <dt>{{credit.type_name}}</dt>
                    <dd>{{credit.name}}</dd>
                </div>
            </dl>
        </div>
    </div>

</div>
