<div class="container">

    <div class="page-header">
        <h1>{{timeslot.title}} <small>{{timeslot.start_time | amDateFormat:'dddd, Do MMMM YYYY, HH:mm'}}</small></h1>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-10" ng-bind-html="timeslot.description">
        </div>
        <div class="col-xs-4 col-sm-2">
            <ul>
                <li><a ng-href="/schedule/seasons/{{timeslot.season_id}}">Season</a></li>
                <li><a ng-href="/schedule/shows/{{timeslot.show_id}}">Show</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Credits</h2>
            <dl>
                <div class="credit" ng-repeat="credit in credits">
                    <dt>{{credit.type_name}}</dt>
                    <dd>{{credit.name}}</dd>
                </div>
            </dl>
        </div>
        <div class="col-sm-6" ng-show="embed">
            <h2>Listen Again</h2>
            <iframe width="100%" height="350" frameborder="0" ng-src="{{embed}}"> </iframe>

        </div>
    </div>

    <h2>Tracklist</h2>
    <table class="timeslot-tracklist">
        <tr>
            <th>Track</th>
            <th>Artist</th>
            <th>Time</th>
        </tr>
        <tr ng-repeat="track in tracklist">
            <td>{{track.title}}</td>
            <td>{{track.artist}}</td>
            <td>{{track.starttime | amDateFormat:'HH:mm:ss'}}</td>
        </tr>
    </table>
</div>
