<div class="container">

    <div class="page-header">
        <h1>{{timeslot.title}} <small>{{timeslot.start_time | amDateFormat:'dddd, Do MMMM YYYY, HH:mm'}}</small></h1>
    </div>

    <div class="row">
        <div class="col-xs-10" ng-bind-html="timeslot.description">
        </div>
        <div class="col-xs-2">
            <a ng-href="/schedule/seasons/{{timeslot.season_id}}">Season</a>
            <a ng-href="/schedule/shows/{{timeslot.show_id}}">Show</a>
        </div>
    </div>

    <h2>Credits</h2>
    <dl>
        <div class="credit" ng-repeat="credit in credits">
            <dt>{{credit.type_name}}</dt>
            <dd>{{credit.name}}</dd>
        </div>
    </dl>

    <h2>Tracklist</h2>
    <table class="timeslot-tracklist">
        <tr>
            <th>Track</th>
            <th>Artist</th>
            <th>Time</th>
        </tr>
        <tr ng-repeat="track in tracklist">
            <td>{{track.title}}</td>
            <td>{{track.artist}}</td>
            <td>{{track.starttime  | amDateFormat:'HH:mm:ss'}}</td>
        </tr>
    </table>
</div>
