
.schedule-week {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

ol.schedule-times {
    margin-top: 63px;
    padding: 0;
    list-style: none;

    li {
        height: 60px;
        border-bottom: 1px solid;
        padding: 5px;
    }
}

.schedule-day {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    .day-title {
        text-align: center;
        overflow: hidden;
    }

    list-item {
        margin-bottom: 0;
        border-bottom: 1px solid;
    }
}
