<div class="container">

    <div class="page-header">
        <h1>Schedule <small>Week View</small></h1>
    </div>

    <div class="well well-sm clearfix text-center">
        <div class="pull-left">
            <a ng-href="/schedule/{{yearprev}}/w{{weekprev}}">&laquo; Previous Week</a>
        </div>
        <span class="">
            <a href="/schedule">This Week</a>
            &#124;&nbsp;&#124;
            <a href="" ng-click="select.name = ''">Week View</a>
        </span>
        <div class="pull-right">
            <a ng-href="/schedule/{{yearnext}}/w{{weeknext}}">Next Week &raquo;</a>
        </div>
    </div>
    <div class="schedule-week">
        <div class="schedule-day" ng-repeat="day in schedule | filter:select">
            <h2 class="day-title"><a href="" ng-click="$parent.select.name = day.name">{{day.name}}</a></h2>
            <list-item ng-repeat="show in day.shows" item="show"></list-item>
        </div>
    </div>

</div>
