$schedule-bg: #eeeeee;

$flagship-bg: #79CED6;
$news-bg: #FF726B;
$speech-bg: #5AD86A;
$event-bg: #FFB16B;
$music-bg: #D2A7FF;

@mixin bg-highlight ($colour) {
    background-color: $colour;
    &:hover, &:focus {
        background-color: rgba($colour, 0.7);
    }
}

list-item {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 120px;
    padding-left: 120px;
    padding-bottom: 20px;
    margin-bottom: 10px;

    @include bg-highlight($schedule-bg);

    .list-item {
        padding-left: 10px;
        display: block;
        width: 100%;
        height: 100%;

        .item-title {
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 25px;
        }

        .item-desc {
            color: #333;
            display: inline-block;
            text-decoration: none;
        }
    }

    h1.item-time {
        position: absolute;
        top: 5px;
        right: 5px;
        margin: 0;
        font-size: 1.5em;
        opacity: .8;
    }
    span.item-brand {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        font-size: 2em;
        line-height: 1em;
        opacity: .1;
        padding: 10px;
        margin: 0;
    }
    div.item-img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        line-height: 120px;
        min-height: 120px;
        width: 120px;
        text-align: center;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-height: 100%;
            max-width: 120px;
        }
    }
}

list-item[max-width~="60px"] {
    .item-title {
        display: none;
    }
}

list-item[max-width~="300px"] {
    min-height: 15px;

    padding: 0;
    .list-item {
        padding-top: 5px;
        padding-right: 5px;

        .item-time, .item-desc, .item-img, .item-brand {
            display: none;
        }
        .item-title {
            margin-top: 0;
            font-size: 16px;
        }
    }
}
list-item[min-width="300px"] {
    height: auto !important;
}


// Branding

list-item.brand-jukebox {
    @include bg-highlight(lighten($schedule-bg, 3%));
}
list-item.brand-flagship {
    @include bg-highlight($flagship-bg);
}
list-item.brand-news {
    @include bg-highlight($news-bg);
}
list-item.brand-speech {
    @include bg-highlight($speech-bg);
}
list-item.brand-event {
    @include bg-highlight($event-bg);
}
list-item.brand-music {
    @include bg-highlight($music-bg);
}
