$schedule-bg: #eeeeee;

$music-bg: #D2A7FF;

@mixin bg-highlight ($colour) {
    background-color: $colour;
    &:hover, &:focus {
        background-color: rgba($colour, 0.7);
    }
}

.list-object {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 120px;
    padding-left: 120px;
    padding-bottom: 20px;
    margin-bottom: 10px;

    .list-item {
        padding-left: 10px;
        display: block;
        width: 100%;
        height: 100%;

        .item-title {
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 25px;
        }

        .item-desc {
            display: inline-block;
            text-decoration: none;
        }
    }

    h1.item-time {
        position: absolute;
        top: 5px;
        right: 5px;
        margin: 0;
        font-size: 1.5em;
        opacity: .8;
    }
    span.item-brand {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        font-size: 2em;
        line-height: 1em;
        opacity: .1;
        padding: 10px;
        margin: 0;
    }
    div.item-img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        line-height: 120px;
        min-height: 120px;
        width: 120px;
        text-align: center;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-height: 100%;
            max-width: 120px;
        }
    }
}

.list-object[max-width~="60px"] {
    .item-title {
        display: none;
    }
}

.list-object[max-width~="300px"] {
    min-height: 15px;
    margin-bottom: 0;
    padding: 0;
    .list-item {
        padding-top: 5px;
        padding-right: 5px;

        .item-time, .item-desc, .item-img, .item-brand {
            display: none;
        }
        .item-title {
            margin-top: 0;
            font-size: 16px;
        }
    }
}
.list-object[min-width="300px"] {
    height: auto !important;
}


// Branding
.brand- {
    @extend .btn-link;
}
.brand-jukebox {
    @extend .btn-default;
}
.brand-flagship {
    @extend .btn-primary;
}
.brand-news {
    @extend .btn-danger;
}
.brand-speech {
    @extend .btn-success;
}
.brand-event {
    @extend .btn-warning;
}
.brand-music {
    @extend .btn-info
}
