<div class="container">

    <header class="page-header">
        <h1>Get Involved</h1>
    </header>

    <div class="col-md-6">
        <h2>Radio By Students, For Students</h2>
        <p>Want to help York make incredible Award Winning radio? Want to join one of the best, largest and most diverse societies university has to offer? Whether you to hear your voice played out on the airwaves, break the biggest news stories as they happen, play with the state-of-the-art studios and computer systems, or just plain have fun, then URY is the place for you.</p>

        <h2>What Can I Do?</h2>
        <p>Of course, everyone wants to be on the radio! Presenting is as easy as baking a cake (disclaimer: I can't bake cakes) and you don't have to sign up at Freshers' Fair or at the start of a term to get your very own show! Take a look at our <a ng-href="#/schedule">schedule</a>. If you can see a gap, there's no reason you couldn't fill it.</p>
        <p>As well as just presenting, there are several teams of students that make content and keep URY running.</p>

        <h2>Come and See Us</h2>
        <p>We're always out and about on campus, especially during Freshers':</p>
        <ul>
            <li>See or add <a href="http://goo.gl/5APK7Q" target="_blank" title="The URY calendar">our Google calendar</a> for all our events</li>
            <li>Almost any time at URY's Station</li>
            <li>Alternatively, you can email <a href="mailto:getinvolved@ury.org.uk">getinvolved@ury.org.uk</a> to get in touch</li>
        </ul>

        <h2>How Do I Join?</h2>
        <p>If you're ready to sign up right now, you can fill in the form below to sign up to our mailing list and computer system. It's instant and of course there's no commitment to do anything.</p>
        <p>You can also come and visit our station in Vanbrugh College, where there'll almost always be someone there to talk to you and get you set up.</p>
    </div>
    <div class="col-md-6">

        <h2>Sign Up</h2>
        <form name="getInvolvedForm" class="form-getinvolved" ng-submit="submit(getInvolvedForm.$valid)" novalidate>
            <div class="row">
                <fieldset id="getinvolved-personal-details" class="col-md-6">
                    <legend>I'm…</legend>

                    <div class="form-group" ng-class="{ 'has-error' : getInvolvedForm.fname.$invalid && getInvolvedForm.fname.$touched }">
                        <label for="fname">First Name</label>
                        <input
                            type="text"
                            id="fname"
                            name="fname"
                            class="form-control"
                            ng-model="user.fname"
                            required>
                        <div class="help-block" ng-messages="getInvolvedForm.fname.$error" ng-show="getInvolvedForm.fname.$touched" role="alert">
                            <p ng-message="required">Your name is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : getInvolvedForm.sname.$invalid && getInvolvedForm.sname.$touched }">
                        <label for="sname">Last Name</label>
                        <input
                            type="text"
                            id="sname"
                            name="sname"
                            class="form-control"
                            ng-model="user.sname"
                            required>
                        <div class="help-block" ng-messages="getInvolvedForm.sname.$error" ng-show="getInvolvedForm.sname.$touched" role="alert">
                            <p ng-message="required">Your name is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : getInvolvedForm.email.$invalid && getInvolvedForm.email.$touched }">
                        <label for="text">York Email</label>
                        <div class="input-group">
                            <input
                                type="text"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="abc123"
                                ng-model="user.eduroam"
                                ng-pattern="/[a-z]{2,}[0-9]+/"
                                required>
                            <span class="input-group-addon">@york.ac.uk</span>
                        </div>
                        <div class="help-block" ng-messages="getInvolvedForm.email.$error" ng-show="getInvolvedForm.email.$touched" role="alert">
                            <p ng-message="required">Your email is required.</p>
                            <p ng-message="pattern">This needs to be a valid York username.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : getInvolvedForm.phone.$invalid && getInvolvedForm.phone.$touched }">
                        <label for="phone">Phone Number (Optional)</label>
                        <input
                            type="text"
                            id="phone"
                            name="phone"
                            class="form-control"
                            ng-model="user.phone"
                            ng-pattern="/((\(?0\d{4}\)?\s?\d{3}\s?\d{3})|(\(?0\d{3}\)?\s?\d{3}\s?\d{4})|(\(?0\d{2}\)?\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?/">
                        <div class="help-block" ng-messages="getInvolvedForm.phone.$error" ng-show="getInvolvedForm.phone.$touched" role="alert">
                            <p ng-message="pattern">This needs to be a valid phone number.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : getInvolvedForm.sex.$invalid && getInvolvedForm.sex.$touched }">
                        <label for="sex">Gender</label>
                        <select
                            id="sex"
                            name="sex"
                            class="form-control"
                            ng-model="user.sex"
                            required>
                            <option value="o">Other</option>
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                        </select>
                        <div class="help-block" ng-messages="getInvolvedForm.sex.$error" ng-show="getInvolvedForm.sex.$touched" role="alert">
                            <p ng-message="required">Your gender is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : getInvolvedForm.college.$invalid && getInvolvedForm.college.$touched }">
                        <label for="college">College</label>
                        <select
                            id="college"
                            name="college"
                            class="form-control"
                            ng-model="user.collegeid"
                            required>
                            <option value="10">Unknown</option>
                            <option value="1">Alcuin</option>
                            <option value="11">Constantine</option>
                            <option value="2">Derwent</option>
                            <option value="3">Goodricke</option>
                            <option value="4">Halifax</option>
                            <option value="5">James</option>
                            <option value="6">Langwith</option>
                            <option value="7">Vanbrugh</option>
                            <option value="8">Wentworth</option>
                        </select>
                        <div class="help-block" ng-messages="getInvolvedForm.college.$error" ng-show="getInvolvedForm.college.$touched" role="alert">
                            <p ng-message="required">Your college is required.</p>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="getinvolved-interest" class="col-md-6">
                    <legend>I'm interested in the…</legend>
                        <div class="checkbox" ng-repeat="team in teamLists">
                            <label>
                                <input type="checkbox" name="interests[]" id="interest-{{team.id}}" value="{{team.value}}" ng-checked="teamSelection.indexOf(team.value) > -1" ng-click="toggleSelection(team.value)" > {{team.name}}
                            </label>
                        </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-7" vc-recaptcha key="'6LdcSgsTAAAAAIvQlXYN10pHecUFlyHQWYa6sjCc'"></div>
                <button id="getinvolved-submit" class="btn btn-lg btn-primary col-xs-12 col-sm-5" type="submit" ng-disabled="getInvolvedForm.$invalid">Get Involved!</button>
            </div>
        </form>
    </div>

</div>
