<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="schedule-item" attributes="duration">
  <template>
    <style>
    :host {
        position: relative;
        background-color: #eeeeee;
        overflow: hidden;
        min-height: 120px;
        padding-left: 120px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        flex: 1 0 0;
        flex-grow: calc({{duration}}/12);
    }

    .show-item {
        padding-left: 10px;
    }

    ::content h1 {
        position: absolute;
        top: 5px;
        right: 5px;
        margin: 0;
        font-size: 1.5em;
        opacity: .8;
    }
    ::content span {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        font-size: 2em;
        line-height: 1em;
        opacity: .1;
        padding: 10px;
        margin: 0;
    }
    ::content img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        line-height: 120px;
        min-height: 120px;
        width: 120px;
        text-align: center;
    }

    </style>

    <div class="show-item">
        <content select="h1"></content>
        <content select="h2"></content>
        <content select="p"></content>
        <content select="img"></content>
        <content select="span"></content>
    </div>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
